{% load static %}
{% load widget_tweaks %}

{% csrf_token %}

<div class="row">

    <div class="col-lg-4" style="margin-top: 10px">
        <div class="col-sm-12">
            {% if user_form %}

                {{ user_form.errors }}
                {% for user in user_form %}
                    {% render_field user class="form-control" placeholder=user.label %}
                {% endfor %}
                <br>
            {% endif %}
            {% for field in educator_form %} {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
                {% if field.name == "about_me" %}
                    {{ d }}
                {% elif field.name == "photo" %}
                    {{ field }}
                {% else %}
                    <div class="input-group">
                        {% render_field field class="form-control" placeholder=field.label %}
                    </div>
                {% endif %}
            {% endfor %}
            <br>
            {{ educator_accounts_form.management_form }}
            {% for acc_form in educator_accounts_form %}

                {% for error in acc_field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
                {{ acc_form.logo_url }}
                <img src="{{ acc_form.logo_url.value }}" width="25" height="25">
                {{ acc_form.id }}
                {{ acc_form.account }}
                {% render_field acc_form.url class="form-control" placeholder=acc_form.url.label %}

                <div class="mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-danger">
                        {% render_field acc_form.DELETE type="checkbox" name="options" %}
                        <b>Delete</b>
                    </label>
                </div>
            {% endfor %}


        </div>
    </div>
    <div class="col-lg-8" style="margin-top: 10px;">
        <div class="col-sm-12">
            {% for field in educator_form %} {% if field.name == "about_me" %}
                <lable class="col-md-12 h4"
                       style="color:rgb(26,99,115);">{{ field.label }} {% render_field field class="form-control" rows="10" id="comment" %}
                </lable>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>



