<table class="table table-responsive-sm">
    <thead>
    <tr>
        <th>Student</th>
        <th>Department</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td><a href="{% url 'dashboard:administrator_student_update' student.user_id %}"
                   target="_blank">{{ student.name }}</a>
            </td>
            <td>{{ student.department__name }}</td>
            <td>{{ student.year__name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<ul class="pagination" style="margin-top: 25px">
    {% if students.has_previous %}
        <li><a id="{{students.previous_page_number}}" href="#students_results"  onclick="loadResults(event)">Prev</a></li>
    {% else %}
        <li class="page-item disabled"><a>Prev</a></li>
    {% endif %}
    {% with ''|center:students_num_pages as range %}
        {% for i in range %}
            <li class="page-item "><a id="lis_{{ forloop.counter }}" class="page-link" href="#students_results"
                                      onclick="loadPage(event)">{{ forloop.counter }}</a></li>
        {% endfor %}
    {% endwith %}
    {% if students.has_next %}
        <li><a id="{{students.next_page_number}}" href="#students_results"  onclick="loadResults(event)">Next</a></li>
    {% else %}
        <li class="page-item disabled"><a>Next</a></li>
    {% endif %}

</ul>