{% extends 'base.html' %}
{% block title %}Courses{% endblock %}
{% block body %}
{% load static %}
    <script>
        var requireJS = [];
        loadJS(requireJS, "{% static 'dashboard/views/charts.js'%}");
    </script>
    <input type="hidden" id="myVar" name="variable" readonly value="{{ student_predictions }}">
    <main class="animated fadeIn row">

        <div class="card" style="margin-top: 10px">
            <div class="card-header">
                <h3 class="card-title mb-0">Courses Performance</h3>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="input-group-btn col-md-6">
                        <button type="button" class="btn btn-light dropdown-toggle"
                                data-toggle="dropdown">Year
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            {%for year in years%}
                                <a class="dropdown-item" href="#">{{year.name}}</a>
                            {%endfor%}
                            
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="btn-toolbar float-right" role="toolbar"
                             aria-label="Toolbar with button groups">
                            <div class="btn-group mr-3" data-toggle="buttons"
                                 aria-label="First group">
                                {%for term in terms%}
                                    {%if forloop.counter == 1%}
                                        <label class="btn btn-outline-secondary active">
                                    {%else%}
                                        <label class="btn btn-outline-secondary">
                                    {%endif%}
                                    <input type="radio" name="options" id="option"+"{{forloop.counter}}"
                                           > {{term.name}}
                                </label>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chart-wrapper" style="height: 70vh;width: 80vw;">
                    <canvas id="canvas-1" class="chart"
                            style="height: inherit;"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <h3 class="card-title mb-0">Courses</h3>
                        </div>
                        <div class="input-group col-md-4 col-sm-12">
                            <input type="text" id="input1-group2"
                                   name="input1-group2"
                                   class="form-control" placeholder="Course Name">
                            <span class=" input-group-btn ">
                        <button type="button" class="btn btn-primary "><i
                                class="fa fa-search"></i></button>
                      </span>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Year</th>
                            <th>Doctor</th>
                            <th>Grade</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in student_courses %}
                            <tr>
                                <td>{{course.course.name}}</td>
                                <td>{{course.course.term.name}}</td>
                                <td><a href="{% url 'dashboard:student_educator_profile' course.course.educator_id %}" target="_blank">{{course.educator.name}}</a>
                                </td>
                                {% if course.final_grade is None%}
                                    <td>--</td>
                                    <td>--</td>
                                {%else%}
                                    <td>{{course.final_grade}}</td>
                                
                                    {%if course.final_grade >= 50%}
                                    <td>
                                        <span class="badge badge-success">Pass</span>
                                    </td>
                                    {%else%}
                                    <td>
                                        <span class="badge badge-danger">Fail</span>
                                    </td>
                                    {%endif%}

                                {%endif%}
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    {% if student_courses.has_other_pages %}
                        <ul class="pagination">
                            {% if student_courses.has_previous %}
                                <li><a href="?page={{ student_courses.previous_page_number }}">prev</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">Prev</a></li>
                            {% endif %}
                            {% for i in student_courses.paginator.page_range %}
                                {% if student_courses.number == i %}
                                    <li class="active"><a href="#">{{ i }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if student_courses.has_next %}
                                <li><a href="?page={{ student_courses.next_page_number }}">next</a></li>
                            {% else %}
                                    <li class="disabled"><a>Next</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}