{% extends 'base.html' %}
{% block title %}Educator{% endblock %}
{% block body %}
{% load static %}
<script>
    
    var requireJS = [];
    loadJS(requireJS, "{% static 'dashboard/views/charts2.js'%}");

</script>
<script>
    function loadReviews(event){
        page = document.getElementById(event.target.id).innerHTML;
        $.ajax({
            type: "GET",
            url: "/dashboard/educator_reviews/?page="+page,
            success: function(data) {
                $('#educator_rev').html(data);
                document.getElementById(event.target.id).parentElement.classList.add("disabled");
            },

            error: function(response, error) {
                alert(response.responseText);
            }
        }); 
    }

    </script>
    <input type="hidden" id="myVar" name="variable" readonly value="{{ educator_rating }}">
    <input type="hidden" id="total" name="variable" readonly value="{{ educator_reviews_num_pages }}">
    <main class="animated fadeIn row">

    <div class="card" style="margin-top: 10px">
        <div class="card-header">
            <h3 class="card-title mb-0">Strengths & Weakness</h3>
        </div>
        <div class="card-body">
            <div class="row col-md-2">

                <div class="input-group-btn col-md-6">
                    <button type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown">Year
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        {% for year in educator_reviews_years %}
                            <a class="dropdown-item" href="#">{{ year.year }}</a>
                        {% endfor %}
                    </div>

                </div>
                <div class="input-group-btn col-md-6">
                  <button type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown">Department
                            <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        {% for dep in educator_reviews_departments %}
                            <a class="dropdown-item" href="#">{{ dep.student__department__name }}</a>
                        {% endfor %}
                   </div>
                    </div>

            </div>

            <div class="chart-wrapper" style="height: 70vh;width: 80vw;">
                <canvas id="canvas-1" class="chart"
                        style="height: inherit;"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card" style="margin-top: 10px">
            <div class="card-header">
                <h3 class="card-title mb-0">Student Reviews</h3>
            </div>
            <div class="card-body" id="educator_rev">
                {% include "./pagination.html" %}
            </div>
        </div>

    </div>

</main>
{% endblock %}