{% for advice in student_advices %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="{{ advice.educator.photo.url }}" width="50" height="50" alt="">
        <div class="media-body">
            <h5 class="mt-0" style="margin-bottom: 2px;"><a target="_blank" 
                href="{% url 'dashboard:student_educator_profile' advice.educator_id %}">{{ advice.educator.name }}</a></h5>
            <p id="cont_{{forloop.counter}}">{{ advice.content }}</p>
        </div>
    </div>
{% endfor %}
<ul class="pagination" style="margin-top: 25px">
{% with ''|center:student_advices_num_pages as range %}
    
    {% for i in range %}                                
        <li class="page-item " ><a id="lis_{{forloop.counter}}" class="page-link" href="#" onclick="loadResults(event)" >{{forloop.counter}}</a></li>
    {% endfor %}
    
{% endwith %}
</ul>