{% extends 'base.html' %}
{% block title %}Students{% endblock %}
{% block body %}
{% load static %}

<script>
        var requireJS = [];
        loadJS(requireJS, "{% static 'dashboard/views/charts3.js'%}");
</script>
    <input type="hidden" id="myVar" name="variable" readonly value="{{ courses_counts }}">

    <main class="animated fadeIn row">
      <div class="col-md-12">
    
        <div class="card" style="margin-top: 10px">
            <div class="card-header">
                <h3 class="card-title mb-0">Courses Performance</h3>
            </div>
            <div class="card-body">
    
                <div class="row ">
                    <div class="col-md-3">
                      <div class="row ">
                      <div>  <button type="button" class="btn btn-light dropdown-toggle"
                                data-toggle="dropdown" style="color:rgba(41,54,61,1);font-size: 16px;font-weight: bold;font-variant: small-caps;">Year
                            <div class="dropdown-menu" >
                                {%for year in years%}
                                    <li><a class="dropdown-item" href="#">{{year.name}}</a></li>
                                {%endfor%}    
                            </div>
                        </button></div>
    
                        <div><button type="button" class="btn btn-light dropdown-toggle"
                                  data-toggle="dropdown" style="color:rgba(41,54,61,1);font-size: 16px;font-weight: bold;font-variant: small-caps;">Department
                                  <div class="dropdown-menu" >
                                        {%for dep in departments%}
                                            <li><a class="dropdown-item" href="#">{{dep.name}}</a></li>
                                        {%endfor%}
                                  </div>
                          </button></div>
    
    </div>
                       </div>
    
                    <div class="col-md-9">
                        <div class="btn-toolbar float-right" role="toolbar"
                             aria-label="Toolbar with button groups">
                            <div class="btn-group mr-3" data-toggle="buttons"
                                 aria-label="First group">
                                {%for term in terms%}
                                    {%if forloop.counter == 1%}
                                        <label class="btn btn-outline-secondary active">
                                    {%else%}
                                        <label class="btn btn-outline-secondary">
                                    {%endif%}
                                    <input type="radio" name="options" id="option"+"{{forloop.counter}}"
                                           > {{term.name}}
                                </label>
                                {%endfor%}
                            </div>
    
    
                        </div>
    
                    </div>
                    <br><br>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4"></div>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <label class="col-md-1 " style="color: rgba(41,54,61,.7);font-size: 15px;font-weight: bold;">MidTerm</label>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <label style="color:rgba(41,54,61,.7);font-size: 15px;font-weight: bold;">Final/Expected</label>
                         </div>
                    </div>
                </div>
    </div>
                <div class="chart-wrapper" style="height: 70vh;width: 80vw;">
                    <canvas id="canvas-1" class="chart"
                            style="height: inherit;"></canvas>
                </div>
              </div>
    
        <div class="col-md-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <h3 class="card-title mb-0">Students</h3>
                        </div>
                        <div class="input-group col-md-4 col-sm-12">
                            <input type="text" id="input1-group2"
                                   name="input1-group2"
                                   class="form-control" placeholder="Student Name">
                            <span class=" input-group-btn ">
                        <button type="button" class="btn btn-primary "><i
                                class="fa fa-search"></i></button>
                      </span>
    
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                        <tr>
                            <th>Student</th>
                            <th>Course</th>
                            <th>Department</th>
                            <th>Year</th>
                            <th>Result/Expected</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for student in educator_students%}
                        <tr>
                          <td><a href="{% url 'dashboard:educator_student_profile' student.student %}" target="_blank">{{student.student__name}}</a>
                          </td>
                            <td>{{student.course__name}}</td>
                            <td>{{student.student__department__name}}</td>
                            <td>{{student.course__year__name}}</td>
                            {%if student.final_grade is None%}
                                <td>--</td>
                            {%else%}
                                {%if student.final_grade >= 50%}
                                <td>
                                    <span class="badge badge-success">Pass</span>
                                </td>
                                {%else%}
                                <td>
                                    <span class="badge badge-danger">Fail</span>
                                </td>
                                {%endif%}
                            {%endif%}

                        </tr>
                        {%endfor%}
                        
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
    </main>
{% endblock %}