{% for advice in student_advices %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="{{ advice.educator.photo.url }}" width="50" height="50" alt="">
        <div class="media-body">
            <h5 class="mt-0 font-weight-bold" style="margin-bottom: 2px;">{{ advice.educator.name }}</h5>
            <p id="cont_{{ forloop.counter }}">{{ advice.content }}</p>
        </div>
    </div>
{% endfor %}
<ul class="pagination" style="margin-top: 25px">
    {% if student_advices.has_previous %}
        <li><a id="{{student_advices.previous_page_number}}" href="#educator_advices"  onclick="loadResults(event)">Prev</a></li>
    {% else %}
        <li class="page-item disabled"><a>Prev</a></li>
    {% endif %}
    {% with ''|center:student_advices_num_pages as range %}
        {% for i in range %}
            <li class="page-item "><a id="lis_{{ forloop.counter }}" class="page-link" href="#educator_advices"
                                      onclick="loadResults(event)">{{ forloop.counter }}</a></li>
        {% endfor %}
    {% endwith %}
    {% if student_advices.has_next %}
        <li><a id="{{student_advices.next_page_number}}" href="#educator_advices"  onclick="loadResults(event)">Next</a></li>
    {% else %}
        <li class="page-item disabled"><a>Next</a></li>
    {% endif %}
</ul>