{% extends 'base.html' %}
{% block body %}
{%load static%}
{% load widget_tweaks %}

<form method="POST" action="{%url 'dashboard:administrator_add_educator'%}" enctype="multipart/form-data">
    
    <div class="card-body">
                
            {%csrf_token%}
            <div class="row">
            <div class="col-lg-4 card" style="margin-top: 10px">
            <div class="card-body" >
                    <h2>Add educator</h2>
                <div class="col-sm-12">
                    {%for usr in user_form%}
                    {% render_field usr class="form-control" placeholder=usr.label %}
                    {%endfor%}
                    <br>   
                {%for field in educator_form%}
                    {%if field.name == "about_me"%}
                    {%elif field.name == "photo"%}
                        {{field}}
                    {%else%}
                        <div class="input-group">
                            {% render_field field class="form-control" placeholder=field.label %}
                        </div>
                    {%endif%}
                {%endfor%}
                <div class="col-md-12 social-icons margin: 0 2px 0 5px;" style="margin-top: 30px">
                
                    {{ educator_accounts_form.management_form }}     
                {% for acc_form in educator_accounts_form %}          
                    {% for error in acc_field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}        
                    {{ acc_form.logo_url }}              
                    <img src="{{ acc_form.logo_url.value }}" width="25" height="25">          
                    {{ acc_form.id }}          
                    {{ acc_form.account }}          
                    {{ acc_form.url}}          
                    
                    <div class="mr-3" data-toggle="buttons">
                        <label class="btn btn-outline-success">
                            {% render_field acc_form.DELETE type="checkbox" name="options" id="option1"%}
                            <b>Delete</b>
                        </label>
                    </div>
                
                <br>
                             
                {% endfor %}
            
        </div>
        </div>
        </div>
        
    </div> 
    <div class="col-lg-8 card" style="margin-top: 10px">
            <br><br><br><br>
    {%for field in educator_form%}
        {%if field.name == "about_me"%}
        <lable class="col-md-12 h4" style="color:rgb(26,99,115);">{{field.label}}
            {%render_field field class="form-control" rows="10" id="comment"%}
        </lable>
        {%endif%}
    {%endfor%}
</div>
</div>
</div>
    
                <div class="container">
                    <div class="row col-md-12">
                        <div class="col-md-5"></div>
                        <div class=col-md-6>
                            <button type="submit" class="btn btn-success">Save Change</button>
                            <a href="{%url 'dashboard:administrator_educators'%}"><button  type="button" class="btn btn-success">Cancel</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{%endblock%}