{% extends 'base.html' %}
{% block title %}Student's Profile{% endblock %}
{% block body %}
    {% load static %}
    {% load widget_tweaks %}
    <main class="animated fadeIn row">
        <div class="col-md-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header">
                    <h3 class="card-title mb-0">Student Information</h3>
                </div>
                <div class="card-body">
                    <div class="container form-group">
                        {% if student_id %}
                            <form id="student_profile" METHOD="POST" >
                            {% csrf_token %}
                        {% else %}
                            <form id="student_add" METHOD="POST" action="{% url 'dashboard:administrator_student_add_form' %} ">
                            {% csrf_token %}

                        {{ user_form.errors }}
                        {%for user in user_form%}
                        <label for="{{ user_for_label }}">{{ user.label }}</label>
                            {%render_field user class="form-control" %}
                        {%endfor%}
                        
                        {% endif %}
                        {%include './add_student_form.html'%}
                    </div>
                </div>
            </div>
            {% if student_id %}
            <div class="card" style="margin-top: 10px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="input-group col-md-1">
                         <span class=" input-group-btn ">
       
                         <button type="button" class="btn btn-success "><i
                                 class="fa fa-plus"></i></button>
                         </span>
                        </div>
                    </div>
                </div>
                
                    {%include './courses_form.html'%}
                
            </div>
            {%endif%}
        </div>
    </main>
    <script>
        {%if student_id%}
            $("#student_profile").ajaxForm({url: "{% url 'dashboard:administrator_student_update_form' student_id %}", type: 'post'})
            $("#student_courses").ajaxForm({url: "{% url 'dashboard:administrator_student_courses_update_form' student_id%}", type: 'post'})
        {%endif%}
    </script>

{% endblock %}        