{% extends 'base.html' %}
{% block title %}Educator{% endblock %}
{% block body %}
    {% load static %}


    <script type='text/javascript'>
        var requireJS = [];
        var educatorsRatingData = {{ educators_rating|safe }};
        loadJS(requireJS, "{% static 'dashboard/views/charts5.js'%}");
    </script>
    <script>
    
            function loadResults(event){
                    var key = document.getElementById("search_input").value;
                    page = document.getElementById(event.target.id).innerHTML;
                    $.ajax({        
                        type: "GET",
                        url: "/dashboard/administrator_educators/?page="+page+"&keyword="+key,
                        success: function(data) {
                            $('#search_results').html(data);
                            document.getElementById(event.target.id).parentElement.classList.add("disabled");
                        },
            
                        error: function(response, error) {
                            alert(response.responseText);  
                        }
                    });
                }
            });
        }
    </script>

    <main class="animated fadeIn row">

        <div class="card" style="margin-top: 10px">
            <div class="card-header">
                <h3 class="card-title mb-0">Educators Performance</h3>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="input-group-btn col-md-6">
                        <button type="button" class="btn btn-light dropdown-toggle"
                                data-toggle="dropdown">Department
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">

                            {% for dep in departments %}
                                    <li><a class="dropdown-item" href="#">{{ dep.name }}</a></li>
                                {% endfor %}

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="btn-toolbar float-right" role="toolbar"
                             aria-label="Toolbar with button groups">
                            <div class="btn-group mr-3" data-toggle="buttons"
                                 aria-label="First group">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="chart-wrapper" style="height: 70vh;width: 80vw;">
                    <canvas id="canvas-1" class="chart"
                            style="height: inherit;"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <h3 class="card-title mb-0">Educators
                                <button type="button" class="btn btn-info">Add</button>
                            </h3>
                        </div>

                        <div class="input-group col-md-4 col-sm-12">
                            <input type="text" id="search_input"
                                   name="input1-group2"
                                   class="form-control" placeholder="Educator Name">
                            <span class=" input-group-btn ">
                        <button type="button" class="btn btn-primary " onclick="searchResults()"><i
                                class="fa fa-search"></i></button>
                      </span>

                        </div>
                    </div>
                </div>
                <div class="card-body" id="search_results">
                    {% include './educators_pagination.html' %}
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}