{% extends 'base.html' %}
{% block title %}Students{% endblock %}
{% block body %}
    {% load static %}

    <script>
        var requireJS = [];
        loadJS(requireJS, "{% static 'dashboard/views/charts4.js'%}");
    </script>
    <script>
        function loadPage(event){
            var key = document.getElementById("search_input").value;
            page = document.getElementById(event.target.id).innerHTML;
            $.ajax({        
                type: "GET",
                url: "/dashboard/administrator_students/?page="+page+"&keyword="+key,
                success: function(data) {
                    $('#students_results').html(data);
                },
    
                error: function(response, error) {
                    alert(response.responseText);  
                }
            });
        }
    function searchResults(e){
        var key = document.getElementById("search_input").value;
            
            $.ajax({        
                type: "GET",
                url: "/dashboard/administrator_students/?keyword="+key,
                success: function(data) {
                    $('#students_results').html(data);
                },
    
                error: function(response, error) {
                    alert(response.responseText);  
                }
            });
    }
    </script>
    <input type="hidden" id="myData" name="variable" readonly value="{{ years_counts }}">
    <main class="animated fadeIn row">

        <div class="card" style="margin-top: 10px">
            <div class="card-header">
                <h3 class="card-title mb-0">Students Performance</h3>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="input-group-btn col-md-6">
                        <button type="button" class="btn btn-light dropdown-toggle"
                                data-toggle="dropdown">Department
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            {% for dep in departments %}
                                <li><a class="dropdown-item" href="#">{{ dep.name }}</a></li>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="btn-toolbar float-right" role="toolbar"
                             aria-label="Toolbar with button groups">
                            <div class="btn-group mr-3" data-toggle="buttons"
                                 aria-label="First group">
                                {% for term in terms %}
                                    {% if forloop.counter == 1 %}
                                        <label class="btn btn-outline-secondary active">
                                    {% else %}
                                        <label class="btn btn-outline-secondary">
                                    {% endif %}
                                <input type="radio" name="options" id="option" +"{{ forloop.counter }}"
                                > {{ term.name }}
                                </label>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="chart-wrapper" style="height: 70vh;width: 80vw;">
                    <canvas id="canvas-1" class="chart"
                            style="height: inherit;"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <h3 class="card-title mb-0">Students</h3>
                        </div>

                        <div class="input-group col-md-4 col-sm-12">
                            <input type="text" id="search_input"
                                   name="input1-group2"
                                   class="form-control" placeholder="Student Name">
                            <span class=" input-group-btn ">
                    <button type="button" class="btn btn-primary " onclick="searchResults()"><i
                            class="fa fa-search"></i></button>
                  </span>

                        </div>
                    </div>
                </div>
                <div class="card-body" id="students_results">
                    {%include './pagination.html'%}
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}